@font-face {
    font-family: cairo;
    src: url('../fonts/Cairo-Regular.ttf');
  } 

  .formContainer{
    margin-top: 50px;
    font-family: cairo;
  } 

  .Qicon{
    color:#51BFAD;
    width:50px;
    height: 50px;

  } 
  .formTitle{
    font-size: larger;
  }
  .subFormTitle {
    color:#a6a8a8;
font-size: small;    
} 
.note{
    color:#F69C5D;
} 
.formCol{
    padding-top: 200px;
} 
.subBtn{
    width:200px ;
    margin-top: 10px;
}